.topnav {
    background-color: rgb(43, 43, 184);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(17, 6, 85);
    color: white;
  }

  .header {
    padding: 1px;
    text-align: center;
    background:  #db180a;
    color: white;
    font-size: 30px;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
  }


  
  /* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 50%;
  padding: 40px;
  /*right: 50px;*/
}

/* Centered text */
.centered {
  position: absolute;
  right: -366px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 165%; /* Full width */
  padding: 20px; /* Some padding */
  transform: translate(0%, 10%);
}

/* image */
.image {
  flex-basis: 40%;
  opacity: .5;
}

/* Text to Right */
.right {
  font-size: 20px;
  top: 10%;
  left: 0%;
}
